@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap');

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

body, html {
  margin: 0;
  
  box-sizing: border-box;
}

* {
  font-family: 'Roboto', 'Times New Roman', 'Arial', sans-serif;
}


body {
  padding: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100%;
  
}

.info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 50vw;
  border: 1px solid black;
  margin: 20px;
  border-radius: 10px;
  padding: 5px;
}

.big-info {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  
}

.info form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

input {
  width: clamp(100px, 16vw, 18vw);
  height: 20px;
  border-radius: 8px;
  border: 1px solid gray
}

input[type="file"] {
  display: none;
}

#photo-select {
  cursor: pointer;
  background-color: #f1356f;
  margin: 10px;
  border-radius: 8px;
  height: 10px;
  font-size: 10px;
  color: #fff;
  font-weight: 600;
}

.info form .left, .info form .right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

label {
  text-align: center;
  padding: 10px;
}

button {
  margin: 10px;
  padding: 5px 8px 5px 8px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  color: #fff;
  background-color: #f1356f;
  cursor: pointer;
}

.output {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  font-size: 35px;
}

.page {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 20px;
}

.cv {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
}


.left-cv {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 0 12px 12px 12px;
  align-items: center;
  gap: 8px;
  background-color: #F8F8F8;
  border-radius: 8px;
}


.img-container {
  display: inline-block;
  width: 120px; 
  height: 120px; 
  overflow: hidden;
  border-radius: 50%;
}

.img-container img {
  width: auto;
  height: 100%;
  object-fit: cover;
  /* border-radius: 50%; */
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  padding: 5px;
}

.upper-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  background-color: 	#36454F;
  border-radius: 10px;
  padding: 12px;
}

.about-gen {
  display: flex;
  flex-direction: column;
  width: 80%;
  
  align-items: center;
  text-align: justify;
  
}

.about-gen p, .about-gen h4 {
  padding: 8px;
}

.about-gen p {
  font-size: clamp(12px, 15px, 1vw);
  text-align: center;
}

h4 {
  font-size: 18px;
}

.contact-cv {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  text-align: center;
  gap: 12px;
}

.contact-cv p {
  font-size: clamp(0.7vw, 1.2vw, 1.4vw);
}

.right-cv {
  width: 70%;
  background-color: hsl(0, 0, 98%);
  padding: 10px;
}

.work-cv, .education-cv {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 20px;
}

h2 {
  font-size: 18px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #36454F;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  width: 80%;
  margin-left: 3%;
}

h5 {
  font-size: 25px;
  border-bottom: 3px solid #000;
  width: 25%;
  padding: 5px;
}

.desc {
  width: 80%;
  padding: 10px;
}

.desc p {
  font-size: clamp(0.7rem, 1rem, 1.5rem);
}

.fixed {
  width: 150px;
  align-self: center;
}

.buttons-cv {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
}

.item-header {
  display: flex;
  justify-content: space-between;
}

.page {
  margin-top: 30px;
}

.bigger {
  align-self: center;
  font-size: clamp(1.5rem, 2.5vw, 4rem); 
  padding: 15px 0 25px 0;
}


textarea { 
  width: clamp(20vw, 25vw, 30vw);
}

